Repository interledger/web-monetization-extension, pull requests merged in 2024-12, with the labels that each got.

#747 refactor(tests/e2e): extract `getContinueWaitTime` helper
  docs/TESTING.md
  tests/e2e/connectAutoKeyFynbos.spec.ts
  tests/e2e/connectAutoKeyTestWallet.spec.ts
  tests/e2e/helpers/common.ts
  tests/e2e/helpers/fynbos.ts
  tests/e2e/helpers/testWallet.ts
Labels: area: documentation, area: tests

#745 refactor: dynamically register key auto-add scripts
  src/background/services/background.ts
  src/background/services/keyAutoAdd.ts
  src/manifest.json
Labels: area: background

#757 fix: don't try to localize appName in manifest.json
  src/_locales/en/messages.json
  src/background/container.ts
  src/background/services/keyAutoAdd.ts
  src/background/services/openPayments.ts
  src/background/services/tabEvents.ts
  src/manifest.json
Labels: area: background, area: i18n

#748 fix(bg/deduplicator): don't cache rejected promises
  src/background/services/deduplicator.test.ts
  src/background/services/deduplicator.ts
Labels: area: background, area: tests

#759 test(e2e/setup): ensure given public key added to test wallet
  tests/e2e/auth.setup.ts
Labels: area: tests

#758 fix(tests/e2e): wait for ServiceWorker to be activated
  tests/e2e/fixtures/helpers.ts
Labels: area: tests

#749 feat(keyAutoAdd): support key auto-add for Chimoney
  .github/workflows/nightly-build.yaml
  .github/workflows/tests-e2e.yml
  cspell-dictionary.txt
  docs/TESTING.md
  src/background/services/keyAutoAdd.ts
  src/content/keyAutoAdd/chimoney.ts
  src/content/keyAutoAdd/lib/helpers.ts
  src/content/keyAutoAdd/lib/helpers/chimoney.ts
  tests/e2e/.env.example
  tests/e2e/connectAutoKeyChimoney.spec.ts
  tests/e2e/env.d.ts
  tests/e2e/helpers/chimoney.ts
Labels: area: documentation, area: content, area: background, area: ci, area: tests

#762 chore(ci/labeler): update labeler config
  .github/labeler.yml
  cspell-dictionary.txt
Labels: area: ci

#765 chore(ci/labeler): fix pattern for documentation label
  .github/labeler.yml
Labels: area: ci

#763 fix(popup/PayWebsiteForm): make amount input full width
  src/pages/popup/components/Settings/RateOfPay.tsx
  src/pages/shared/components/InputAmount.tsx
Labels: area: popup, area: pages

#760 refactor(popup): use valtio external store for state management
  cspell-dictionary.txt
  package.json
  pnpm-lock.yaml
  src/pages/popup/Popup.tsx
  src/pages/popup/components/ConnectWalletForm.tsx
  src/pages/popup/components/PayWebsiteForm.tsx
  src/pages/popup/components/ProtectedRoute.tsx
  src/pages/popup/components/Settings/Budget.tsx
  src/pages/popup/components/Settings/RateOfPay.tsx
  src/pages/popup/components/layout/Header.tsx
  src/pages/popup/index.tsx
  src/pages/popup/lib/context.tsx
  src/pages/popup/lib/store.ts
  src/pages/popup/pages/ConnectWallet.tsx
  src/pages/popup/pages/ErrorKeyRevoked.tsx
  src/pages/popup/pages/Home.tsx
  src/pages/popup/pages/OutOfFunds.tsx
  src/pages/popup/pages/OutOfFunds_AddFunds.tsx
  src/pages/popup/pages/Settings.tsx
  src/shared/messages.ts
  src/shared/types.ts
Labels: area: popup, area: pages, area: shared

#714 feat(ErrorKeyRevoked): reconnect with automatic key addition
  src/_locales/en/messages.json
  src/background/services/background.ts
  src/background/services/openPayments.ts
  src/pages/popup/components/ConnectWalletForm.tsx
  src/pages/popup/components/ErrorKeyRevoked.tsx
  src/pages/popup/pages/ErrorKeyRevoked.tsx
  src/pages/shared/components/AutoKeyAddConsent.tsx
  src/shared/messages.ts
Labels: area: background, area: popup, area: i18n, area: pages, area: shared

#769 feat(app/PostInstall): add post-install screen UI
  src/background/services/background.ts
  src/background/services/openPayments.ts
  src/pages/app/pages/PostInstall.tsx
Labels: area: background, area: pages/app, area: pages

#771 feat: use Titillium Web font for UI
  cspell-dictionary.txt
  esbuild/dev.ts
  esbuild/prod.ts
  src/assets/fonts/titillium-web/titillium-web-latin-300-normal.woff2
  src/assets/fonts/titillium-web/titillium-web-latin-400-normal.woff2
  src/assets/fonts/titillium-web/titillium-web-latin-600-normal.woff2
  src/assets/fonts/titillium-web/titillium-web-latin-700-normal.woff2
  src/manifest.json
  src/pages/popup/index.css
  src/pages/progress-connect/index.css
  tailwind.config.ts
Labels: area: popup, area: scripts, area: pages/notification, area: pages

#776 test(e2e): auto close post-install tab to keep tests simpler
  tests/e2e/connectAutoKeyChimoney.spec.ts
  tests/e2e/fixtures/helpers.ts
Labels: area: tests

#777 fix(ConnectWalletForm): handle input autocomplete
  src/pages/popup/components/ConnectWalletForm.tsx
Labels: area: popup, area: pages

#773 feat: add global payment switch
  src/_locales/en/messages.json
  src/background/services/background.ts
  src/background/services/monetization.ts
  src/background/services/storage.ts
  src/background/services/tabEvents.ts
  src/pages/popup/components/Settings/RateOfPay.tsx
  src/pages/popup/components/TogglePaymentsButton.tsx
  src/pages/popup/components/layout/Header.tsx
  src/pages/popup/lib/store.ts
  src/pages/popup/pages/Home.tsx
  src/pages/shared/components/Icons.tsx
  src/shared/messages.ts
Labels: area: background, area: popup, area: i18n, area: pages, area: shared

#785 refactor(background): remove OP error map as unused
  src/background/services/background.ts
  src/background/utils.ts
Labels: area: background

#779 fix(background/KeyAutoAdd): invalid tabId in Firefox
  src/background/services/keyAutoAdd.ts
  src/background/services/openPayments.ts
  src/background/utils.ts
Labels: area: background

#791 fix(manifest.json): remove "Extension" suffix from name
  src/background/services/keyAutoAdd.ts
  src/manifest.json
Labels: area: background

#792 fix(Popup): update global payment toggle UI
  .eslintrc.json
  src/background/services/tabEvents.ts
  src/pages/popup/components/TogglePaymentsButton.tsx
  src/pages/popup/components/layout/Header.tsx
  src/pages/popup/pages/Home.tsx
Labels: area: background, area: popup, area: pages

#789 fix(PostInstall): update UI based on feedback
  src/_locales/en/messages.json
  src/assets/images/pin-extension-chrome.png
  src/assets/images/pin-extension-edge.png
  src/assets/images/pin-extension-firefox.png
  src/assets/images/wallet-signup-1-chrome.png
  src/assets/images/wallet-signup-1-edge.png
  src/assets/images/wallet-signup-1-firefox.png
  src/assets/images/wallet-signup.png
  src/assets/images/wallet-wallet-address.png
  src/background/services/background.ts
  src/pages/app/index.css
  src/pages/app/pages/PostInstall.tsx
  src/pages/popup/components/layout/Header.tsx
  src/pages/popup/pages/ConnectWallet.tsx
  src/pages/shared/components/Icons.tsx
Labels: area: background, area: popup, area: i18n, area: pages/app, area: pages

#794 feat(KeyAutoAdd): support Interledger Wallet
  src/background/services/keyAutoAdd.ts
Labels: area: background
