Repository interledger/web-monetization-extension, pull requests merged in 2024-11, with the labels that each got.

#690 feat(keyAutoAdd): support interledger.cards
  src/background/services/keyAutoAdd.ts
  src/content/keyAutoAdd/testWallet.ts
  src/manifest.json
Labels: area: content, area: background

#702 refactor(bg/PaymentSession): never return `undefined` from `pay()`
  src/background/services/monetization.ts
  src/background/services/paymentSession.ts
Labels: area: background

#703 refactor(popup/WalletInformation): remove `react-hook-form`
  src/popup/components/Settings/WalletInformation.tsx
Labels: area: popup

#704 refactor(OutOfFunds): remove `react-hook-form`, use `InputAmount`
  src/popup/components/InputAmount.tsx
  src/popup/components/OutOfFunds.tsx
Labels: area: popup

#705 refactor(popup/ErrorKeyRevoked): remove `react-hook-form`
  package.json
  pnpm-lock.yaml
  src/popup/components/ErrorKeyRevoked.tsx
Labels: area: popup

#712 fix(scripts/build): use correct asset-copy paths on Windows
  esbuild/plugins.ts
Labels: area: scripts

#724 docs: add developer's guide
  README.md
  cspell-dictionary.txt
  docs/DEVELOP.md
Labels: area: documentation

#725 fix(popup/Home): align info text about settings to center
  src/popup/pages/Home.tsx
Labels: area: popup

#694 fix(background)!: better payment confirmation & message
  src/_locales/en/messages.json
  src/background/config.ts
  src/background/services/background.ts
  src/background/services/monetization.ts
  src/background/services/openPayments.ts
  src/popup/components/PayWebsiteForm.tsx
  src/shared/helpers.ts
  src/shared/messages.ts
Labels: area: background, area: popup, area: i18n

#706 refactor(tests/e2e): simplify `openPopup` helper
  tests/e2e/fixtures/base.ts
  tests/e2e/fixtures/helpers.ts
  tests/e2e/pages/popup.ts
Labels: area: tests

#727 refactor(bg/storage): use separate key to toggle continuous payments
  src/background/services/monetization.ts
  src/background/services/storage.ts
  src/background/services/tabEvents.ts
  src/popup/components/Settings/RateOfPay.tsx
  src/popup/lib/context.tsx
  src/shared/types.ts
Labels: area: background, area: popup

#740 feat(popup/Input): support `trailingAddOn`
  src/popup/components/ConnectWalletForm.tsx
  src/popup/components/InputAmount.tsx
  src/popup/components/Settings/Budget.tsx
  src/popup/components/ui/Input.tsx
  src/popup/components/ui/__tests__/Input.tsx
Labels: area: popup

#741 chore(popup/ui/tests): rename files to have `.test.tsx` suffix
  src/popup/components/ui/__tests__/Input.test.tsx
  src/popup/components/ui/__tests__/RadioGroup.test.tsx
  src/popup/components/ui/__tests__/Slider.test.tsx
  src/popup/components/ui/__tests__/Switch.test.tsx
Labels: area: popup

#736 feat(Settings/Rate): replace slider with numeric input
  src/_locales/en/messages.json
  src/popup/components/InputAmount.tsx
  src/popup/components/Settings/Budget.tsx
  src/popup/components/Settings/RateOfPay.tsx
  src/popup/lib/hooks.ts
Labels: area: popup, area: i18n

#744 fix(ConnectWalletForm): don't disable inputs during validation
  src/popup/components/ConnectWalletForm.tsx
  src/popup/components/ui/Input.tsx
  tests/e2e/basic.spec.ts
Labels: area: popup, area: tests
