Repository interledger/web-monetization-extension, pull requests merged in 2024-08, with the labels that each got.

#466 fix(background): don't create unncessary payments & events
  src/background/container.ts
  src/background/services/monetization.ts
  src/background/services/paymentSession.ts
Labels: area: background

#470 fix(background): probe even with same currency
  .eslintrc.json
  src/background/services/monetization.ts
  src/background/services/paymentSession.ts
  src/background/utils.ts
Labels: area: background

#474 fix(background): keep service worker alive
  src/background/container.ts
  src/background/services/background.ts
  src/background/services/heartbeat.ts
  src/background/services/index.ts
Labels: area: background

#476 fix(backround): decrease expiry time for one time payments
  src/background/services/paymentSession.ts
Labels: area: background

#486 fix(content): do not monetize during prerendering
  src/content/services/monetizationTagManager.ts
Labels: area: content

#478 chore: extension audit
  .eslintrc.json
  README.md
  package.json
  pnpm-lock.yaml
  webpack/config.ts
  webpack/plugins.ts
Labels: area: documentation, area: scripts

#491 chore: update manifest for preview
  package.json
  src/_locales/en/messages.json
  src/manifest.json
Labels: area: i18n

#465 fix(background): handle unpeered wallets; retry without waiting interval
  src/_locales/en/messages.json
  src/background/services/events.ts
  src/background/services/monetization.ts
  src/background/services/paymentSession.ts
  src/background/services/tabEvents.ts
  src/background/services/tabState.ts
  src/background/utils.test.ts
  src/popup/components/AllSessionsInvalid.tsx
  src/popup/components/WarningMessage.tsx
  src/popup/pages/Home.tsx
  src/shared/messages.ts
  src/shared/types.ts
Labels: area: background, area: popup, area: tests, area: i18n

#494 chore: update extension name
  src/_locales/en/messages.json
Labels: area: i18n

#495 fix(background/Heartbeat): use `alarm` instead of `storage.set`
  src/background/services/heartbeat.ts
Labels: area: background

#496 fix(content): listen only to extension messages to avoid sites break
  src/content/services/frameManager.ts
Labels: area: content

#506 fix(background): if wallet not connected, display default icon
  src/background/services/background.ts
  src/background/services/tabEvents.ts
Labels: area: background

#498 refactor: switch Awilix container injection mode to proxy
  src/background/container.ts
  src/background/services/background.ts
  src/background/services/deduplicator.ts
  src/background/services/heartbeat.ts
  src/background/services/monetization.ts
  src/background/services/openPayments.ts
  src/background/services/sendToPopup.ts
  src/background/services/storage.ts
  src/background/services/tabEvents.ts
  src/background/services/tabState.ts
  src/content/container.ts
  src/content/services/contentScript.ts
  src/content/services/frameManager.ts
  src/content/services/monetizationTagManager.ts
  webpack/prod.ts
Labels: area: content, area: background

#500 chore: use esbuild instead of webpack for building
  .github/workflows/pr-checks.yml
  .github/workflows/release.yml
  .github/workflows/sanity.yml
  README.md
  cspell-dictionary.txt
  esbuild/config.ts
  esbuild/dev.ts
  esbuild/plugins.ts
  esbuild/prod.ts
  package.json
  pnpm-lock.yaml
  scripts/build.ts
  scripts/dev.ts
  src/background/globalBuffer.ts
  src/background/index.ts
  src/background/services/openPayments.ts
  src/manifest.json
  src/popup/index.html
  tsconfig.json
  webpack/config.ts
  webpack/dev.ts
  webpack/plugins.ts
  webpack/prod.ts
Labels: area: documentation, area: background, area: popup, area: ci

#513 chore(actions): run title check on PR change
  .github/workflows/pr-title-check.yml
  cspell-dictionary.txt
Labels: area: ci

#517 fix(scripts): make channel an option for the build script
  .github/workflows/pr-checks.yml
  .github/workflows/sanity.yml
  README.md
  scripts/build.ts
Labels: area: documentation, area: ci

#518 chore(ci): avoid double-zip in build previews; update action
  .github/workflows/pr-checks.yml
Labels: area: ci

#509 feat(ci): add nightly builds, rename zips
  .github/actions/get-built-version.cjs
  .github/actions/setup/action.yml
  .github/workflows/nightly-build.yaml
  cspell-dictionary.txt
  esbuild/prod.ts
  package.json
  pnpm-lock.yaml
  src/manifest.json
Labels: area: ci

#508 chore(ci): add release pipeline and documentation
  .github/actions/bump-manifest-version.cjs
  .github/actions/validate-stable-release.cjs
  .github/workflows/bump-manifest-version.yml
  .github/workflows/release-preview.yml
  .github/workflows/release-stable.yml
  cspell-dictionary.txt
  docs/RELEASE.md
  tsconfig.json
Labels: area: documentation, area: ci

#530 refactor(ci): improvements; typechecking
  .github/actions/constants.cjs
  .github/actions/delete-artifacts.cjs
  .github/actions/get-workflow-artifacts.cjs
  .github/workflows/build-previews.yml
  .github/workflows/bump-manifest-version.yml
  .github/workflows/codeql-analysis.yml
  .github/workflows/nightly-build.yaml
  .github/workflows/pr-title-check.yml
  .github/workflows/release-preview.yml
  .github/workflows/release-stable.yml
  .github/workflows/release.yml
  .github/workflows/sanity.yml
  cspell-dictionary.txt
Labels: area: ci

#532 chore(deps): update typescript-eslint monorepo to ^8.2.0
  esbuild/plugins.ts
  package.json
  pnpm-lock.yaml
  src/background/services/monetization.ts
  src/background/services/openPayments.ts
  src/content/services/monetizationTagManager.ts
  src/content/utils.ts
  src/popup/components/ConnectWalletForm.tsx
  tailwind.config.ts
Labels: dependencies, area: content, area: background, area: popup

#533 chore(eslint): use eslint-plugin-n; lint all cjs files
  .eslintrc.json
  .github/actions/bump-manifest-version.cjs
  .github/actions/delete-artifacts.cjs
  .github/actions/get-built-version.cjs
  .github/actions/get-workflow-artifacts.cjs
  package.json
  pnpm-lock.yaml
  tsconfig.json
Labels: dependencies

#535 chore: update readme - project structure
  README.md
Labels: area: documentation

#534 refactor: use `message.send()` directly, move message to container
  src/background/container.ts
  src/background/lib/messages.ts
  src/background/services/background.ts
  src/background/services/monetization.ts
  src/background/services/paymentSession.ts
  src/content/container.ts
  src/content/lib/messages.ts
  src/content/services/contentScript.ts
  src/content/services/frameManager.ts
  src/content/services/monetizationTagManager.ts
  src/popup/Popup.tsx
  src/popup/components/ConnectWalletForm.tsx
  src/popup/components/PayWebsiteForm.tsx
  src/popup/components/ProtectedRoute.tsx
  src/popup/components/WalletInformation.tsx
  src/popup/components/layout/Header.tsx
  src/popup/lib/context.tsx
  src/popup/lib/messages.ts
  src/popup/pages/ErrorKeyRevoked.tsx
  src/popup/pages/Home.tsx
  src/popup/pages/OutOfFunds_AddFunds.tsx
  src/popup/pages/Settings.tsx
  src/shared/messages.ts
Labels: area: content, area: background, area: popup

#537 fix(background): use correct intent in `completeGrant` for add funds
  src/background/services/openPayments.ts
Labels: area: background

#550 fix(popup): update UI when all sessions invalid
  src/popup/lib/context.tsx
Labels: area: popup
