Repository interledger/web-monetization-extension, pull requests merged in 2024-06, with the labels that each got.

#281 feat: adjust monetization frequency based on wallet
  src/background/services/background.ts
  src/background/services/events.ts
  src/background/services/monetization.ts
  src/background/services/paymentSession.ts
  src/background/services/storage.ts
  src/background/services/tabEvents.ts
  src/shared/helpers.ts
  tsconfig.json
Labels: area: background

#294 feat: Bulk actions start, stop, resume
  src/background/services/monetization.ts
  src/content/services/frameManager.ts
  src/content/services/monetizationTagManager.ts
  src/shared/messages.ts
Labels: area: content, area: background

#305 fix: deduplicate token rotation requests
  src/background/container.ts
  src/background/services/deduplicator.ts
  src/background/services/index.ts
  src/background/services/monetization.ts
  src/background/services/openPayments.ts
  src/background/services/paymentSession.ts
  src/popup/components/ui/RadioGroup.tsx
Labels: area: background, area: popup

#307 feat: Add intent to background & split amount
  src/background/services/monetization.ts
  src/background/utils.ts
  src/content/services/monetizationTagManager.ts
Labels: area: content, area: background

#321 fix(popup): prevent data loss in connect screen
  src/background/services/storage.ts
  src/popup/components/ConnectWalletForm.tsx
  src/shared/helpers.ts
Labels: area: background, area: popup

#313 feat!: support manifest v3
  scripts/build.ts
  scripts/dev.ts
  scripts/profiler.ts
  src/_locales/en/messages.json
  src/background/services/background.ts
  src/background/services/events.ts
  src/background/services/storage.ts
  src/background/services/tabEvents.ts
  src/manifest.json
  src/manifestv3.json
  src/popup/Popup.tsx
  src/popup/components/ErrorMessage.tsx
  src/popup/components/ProtectedRoute.tsx
  src/popup/pages/MissingHostPermission.tsx
  src/shared/constants.ts
  src/shared/types.ts
  webpack/config.ts
  webpack/dev.ts
  webpack/plugins.ts
  webpack/prod.ts
  webpack/profile.ts
Labels: area: background, area: popup, area: scripts

#340 fix(background/storage): set default `hasHostPermissions` to true
  src/background/services/storage.ts
Labels: area: background

#342 fix(background): ensure default storage is populated; fix popup crash
  src/background/services/background.ts
Labels: area: background

#341 chore: use webpack defines for hosts and protocols; remove profiler
  package.json
  pnpm-lock.yaml
  scripts/profiler.ts
  src/background/services/background.ts
  src/popup/pages/MissingHostPermission.tsx
  src/shared/constants.ts
  src/shared/defines.ts
  webpack/dev.ts
  webpack/prod.ts
  webpack/profile.ts
Labels: area: background, area: popup

#346 fix(content): dispatch MonetizationEvent instead of CustomEvent
  src/background/services/paymentSession.ts
  src/content/polyfill.ts
  src/content/services/contentScript.ts
  src/content/services/monetizationTagManager.ts
  src/content/static/index.ts
  src/content/static/polyfill.ts
  src/content/utils.ts
  src/manifest.json
  src/shared/messages.ts
  webpack/config.ts
Labels: area: content, area: background

#350 chore(ci/pr): add linting for spelling, fix typos
  .github/workflows/pr-checks.yml
  README.md
  cspell-dictionary.txt
  cspell.json
  src/background/services/background.ts
  src/background/services/deduplicator.ts
  src/background/services/events.ts
  src/background/services/monetization.ts
  src/background/services/openPayments.ts
  src/background/services/paymentSession.ts
  src/content/messages.ts
  src/content/services/frameManager.ts
  src/content/services/monetizationTagManager.ts
  src/popup/pages/Home.tsx
  webpack/dev.ts
  webpack/plugins.ts
Labels: area: documentation, area: content, area: background, area: popup, area: ci

#333 fix: use window ID when querying active tab
  src/background/services/monetization.ts
  src/background/services/storage.ts
  src/background/utils.ts
  src/shared/messages.ts
Labels: area: background

#347 fix(popup): show SiteNotMonetized state for non-monetized websites
  src/_locales/en/messages.json
  src/background/services/background.ts
  src/background/services/monetization.ts
  src/background/services/storage.ts
  src/popup/components/Icons.tsx
  src/popup/components/SiteNotMonetized.tsx
  src/popup/components/layout/MainLayout.tsx
  src/popup/lib/context.tsx
  src/popup/pages/Home.tsx
  src/shared/types.ts
Labels: area: background, area: popup

#356 refactor(background): clear up icons usage
  src/background/services/tabEvents.ts
Labels: area: background

#355 fix: ensure correct icon is reflected for monetization state
  src/background/services/background.ts
  src/background/services/tabEvents.ts
  src/content/lib/messages.ts
  src/content/services/monetizationTagManager.ts
Labels: area: content, area: background

#357 feat: add monetization state to browser action's tooltip text
  src/_locales/en/messages.json
  src/background/services/tabEvents.ts
Labels: area: background

#367 fix(content): dispatch `load` event if wallet address is valid
  src/content/services/monetizationTagManager.ts
  src/content/utils.ts
Labels: area: content

#371 feat(background): remove quoting
  src/background/services/openPayments.ts
  src/background/services/paymentSession.ts
  src/shared/types.ts
Labels: area: background

#372 fix(background/events): don't throw on calling `once()`
  src/background/services/events.ts
Labels: area: background
