Repository interledger/web-monetization-extension, pull requests merged in 2024-05, with the labels that each got.

#244 feat: OTP Refine UI
  src/popup/components/PayWebsiteForm.tsx
  src/popup/pages/Home.tsx
Labels: area: popup

#243 feat: Remove text from popup
  src/popup/components/ConnectWalletForm.tsx
Labels: area: popup

#236 feat: one time payment
  package.json
  pnpm-lock.yaml
  src/background/services/background.ts
  src/background/services/monetization.ts
  src/background/services/openPayments.ts
  src/background/services/paymentSession.ts
  src/background/services/storage.ts
  src/background/utils.ts
  src/manifest.json
  src/popup/Popup.tsx
  src/popup/components/ErrorMessage.tsx
  src/popup/components/Icons.tsx
  src/popup/components/PayWebsiteForm.tsx
  src/popup/lib/messages.ts
  src/popup/pages/Home.tsx
  src/shared/messages.ts
  src/shared/types.ts
  webpack/plugins.ts
Labels: area: background, area: popup

#234 feat: Update icon
  src/assets/icons/icon-warning-128.png
  src/assets/icons/icon-warning-34.png
  src/background/lib/messages.ts
  src/background/services/background.ts
  src/background/services/monetization.ts
  src/background/services/storage.ts
  src/background/services/tabEvents.ts
  src/background/utils.ts
  src/content/lib/messages.ts
  src/content/services/contentScript.ts
  src/content/services/monetizationTagManager.ts
  src/shared/messages.ts
Labels: area: content, area: background

#265 perf(popup/Home): debounce setting rate of pay
  src/popup/pages/Home.tsx
  src/shared/helpers.ts
Labels: area: popup

#241 feat: Start monetization iframe
  src/content/container.ts
  src/content/messages.ts
  src/content/services/contentScript.ts
  src/content/services/frameManager.ts
  src/content/services/monetizationTagManager.ts
  src/manifest.json
  src/popup/pages/Home.tsx
Labels: area: content, area: popup

#279 feat: pause monetization when losing window focus
  src/background/services/background.ts
  src/background/services/monetization.ts
  src/shared/types.ts
Labels: area: background

#278 feat: Number format for rate of pay
  src/popup/components/ConnectWalletForm.tsx
  src/popup/components/PayWebsiteForm.tsx
  src/popup/components/WalletInformation.tsx
  src/popup/lib/utils.test.ts
  src/popup/lib/utils.ts
  src/popup/pages/Home.tsx
Labels: area: popup, area: tests
