Repository interledger/web-monetization-extension, pull requests merged in 2024-02, with the labels that each got.

#90 feat: background ioc
  package.json
  pnpm-lock.yaml
  src/background/Background.ts
  src/background/BackgroundContainer.ts
  src/background/index.ts
  src/background/tabHandlers.ts
  src/background/utils.ts
  src/messageHandlers/getSendingPaymentPointerHandler.ts
  src/messageHandlers/isMonetizationReadyHandler.ts
  src/messageHandlers/pausePaymentHandler.ts
  src/messageHandlers/runPaymentHandler.ts
  src/messageHandlers/setIncomingPointerHandler.ts
Labels: area: background

#91 feat: Popup Context
  src/popup/Popup.tsx
  src/providers/__tests__/popup-context.test.tsx
  src/providers/index.ts
  src/providers/popup-context.tsx
  src/providers/providers.interface.ts
  tsconfig.json
  webpack.config.utils.ts
Labels: area: popup

#96 feat: add code container
  src/components/__tests__/code.test.tsx
  src/components/button.tsx
  src/components/code.tsx
  src/components/icons.tsx
  src/popup/index.css
  tailwind.config.ts
Labels: area: popup

#99 feat: settings page - logic, ui
  src/components/icons.tsx
  src/components/layout/header.tsx
  src/components/radio-group.tsx
  src/popup/Popup.scss
  src/popup/Popup.tsx
  src/popup/index.css
  src/popup/pages/Settings.tsx
  src/providers/__tests__/popup-context.test.tsx
  src/providers/index.ts
  src/providers/popup.provider.tsx
  src/providers/popup.state.tsx
  src/providers/providers.interface.ts
Labels: area: popup

#97 chore: Move load
  src/background/Background.ts
  src/background/grantFlow.ts
  src/content/index.ts
  src/content/index.tsx
  src/content/messageListener.ts
  src/content/static/index.ts
  src/content/static/polyfill.ts
  src/manifest/chrome-v3.json
  src/manifest/chrome.json
  src/types/message.d.ts
  webpack.config.utils.ts
Labels: area: content, area: background

#98 feat: extension background storage
  src/background/Background.ts
  src/components/switch.tsx
  src/messageHandlers/getStorageData.ts
  src/messageHandlers/isMonetizationReadyHandler.ts
  src/popup/pages/Home.tsx
  src/providers/__tests__/popup-context.test.tsx
  src/providers/popup.provider.tsx
  src/types/message.d.ts
  src/utils/storage.ts
Labels: area: background, area: popup

#103 feat: Rate of pay slider component update
  src/background/Background.ts
  src/components/__tests__/slider.test.tsx
  src/components/slider.tsx
  src/messageHandlers/getStorageData.ts
  src/messageHandlers/getStorageKey.ts
  src/messageHandlers/index.ts
  src/messageHandlers/setStorageKey.ts
  src/popup/pages/Home.tsx
  src/providers/__tests__/popup-context.test.tsx
  src/providers/popup.provider.tsx
  src/types/message.d.ts
  src/utils/formatCurrency.ts
  src/utils/storage.ts
Labels: area: background, area: popup

#107 feat: Active WebMo Page UI
  src/components/layout/header.tsx
  src/components/layout/main-layout.tsx
  src/components/slider.tsx
  src/popup/Popup.scss
  src/popup/index.html
  src/popup/pages/Home.tsx
  src/popup/pages/Settings.tsx
Labels: area: popup

#111 chore: Storage wrapper
  src/background/Background.ts
  src/background/index.ts
  src/background/installHandlers.ts
  src/utils/storage.ts
Labels: area: background

#112 chore: remove `dbg` from polyfill
  src/content/static/polyfill.ts
Labels: area: content
