Repository interledger/web-monetization-extension, pull requests merged in 2024-01, with the labels that each got.

#71 chore: a more sane badge
  README.md
Labels: area: documentation

#69 feat: add button component
  .github/workflows/pr-checks.yml
  .github/workflows/sanity.yml
  jest.config.js
  jest.config.ts
  jest.setup.ts
  package.json
  pnpm-lock.yaml
  src/components/__tests__/button.test.tsx
  src/components/button.tsx
  src/components/icons.tsx
  src/components/loading-spinner.tsx
  src/popup/index.css
  src/utils/cn.ts
  tsconfig.json
Labels: area: popup, area: ci

#37 chore: payment flow restructure
  src/background/grant.ts
  src/background/grant/confirmPayment.ts
  src/background/grant/createQuote.ts
  src/background/grant/getContinuationRequest.ts
  src/background/grant/getHeaders.ts
  src/background/grant/getIcomingPaymentGrant.ts
  src/background/grant/getIncomingPaymentUrlId.ts
  src/background/grant/getOutgoingPaymentGrant.ts
  src/background/grant/getQuoteGrant.ts
  src/background/grant/index.ts
  src/background/grant/rotateToken.ts
  src/background/grantFlow.ts
  src/background/paymentFlow.ts
Labels: enhancement, area: background

#70 feat: input and label components
  src/components/__tests__/input.test.tsx
  src/components/icons.tsx
  src/components/input.tsx
  src/components/label.tsx
  src/popup/index.css
  tailwind.config.ts
Labels: area: popup

#72 feat: Add main layout and routing system
  package.json
  pnpm-lock.yaml
  src/components/Popup/PopupFooter/PopupFooter.scss
  src/components/Popup/PopupFooter/PopupFooter.tsx
  src/components/Popup/PopupFooter/index.ts
  src/components/Popup/PopupHeader/PopupHeader.scss
  src/components/Popup/PopupHeader/PopupHeader.tsx
  src/components/Popup/PopupHeader/index.ts
  src/components/icons.tsx
  src/components/layout/header.tsx
  src/components/layout/main-layout.tsx
  src/components/router-provider.tsx
  src/popup/Popup.scss
  src/popup/Popup.tsx
  src/popup/pages/Home.tsx
  src/popup/pages/Settings.tsx
  tailwind.config.ts
Labels: area: popup

#73 feat: Radio group implementation
  .eslintrc.json
  package.json
  pnpm-lock.yaml
  src/components/__tests__/radio-group.test.tsx
  src/components/radio-group.tsx
  src/manifest/chrome.json
  src/popup/Popup.tsx
  tailwind.config.ts
Labels: area: popup
