Repository interledger/web-monetization-extension, pull requests merged in 2024-04, with the labels that each got.

#174 fix: clear extension storage when disconnecting the wallet
  src/background/services/storage.ts
  src/popup/lib/context.tsx
  src/shared/types.ts
Labels: area: background, area: popup

#184 chore: update scripts
  .github/actions/constants.cjs
  .github/actions/get-workflow-artifacts.cjs
  .github/workflows/pr-checks.yml
  .github/workflows/release.yml
  .github/workflows/sanity.yml
  package.json
  pnpm-lock.yaml
  scripts/analyze.sh
  scripts/build.sh
  scripts/build.ts
  scripts/dev.sh
  scripts/dev.ts
  scripts/profiler.ts
  src/background/config.ts
  src/background/container.ts
  src/background/services/background.ts
  src/background/services/storage.ts
  src/content/container.ts
  src/manifest.json
  src/manifest/edge.json
  src/manifest/firefox-v3.json
  src/manifest/firefox.json
  src/manifest/opera.json
  src/manifestv3.json
  src/shared/defines.ts
  tsconfig.json
  webpack.config.ts
  webpack.config.utils.ts
  webpack/config.ts
  webpack/dev.ts
  webpack/plugins.ts
  webpack/prod.ts
  webpack/profile.ts
Labels: area: content, area: background, area: ci

#188 chore: update README
  README.md
Labels: area: documentation

#219 feat: calculate rate of pay slider values for different assets
  src/background/config.ts
  src/background/services/openPayments.ts
  src/background/services/storage.ts
  src/background/utils.ts
  src/shared/helpers.ts
  src/shared/types.ts
Labels: area: background

#203 feat: Tag listener
  src/background/services/background.ts
  src/content/container.ts
  src/content/debug.ts
  src/content/lib/messages.ts
  src/content/monetizationTagManager/CustomError.ts
  src/content/monetizationTagManager/MonetizationTagManager.ts
  src/content/monetizationTagManager/index.ts
  src/content/monetizationTagManager/mozClone.ts
  src/content/monetizationTagManager/whenDocumentReady.ts
  src/content/services/contentScript.ts
  src/content/services/monetizationTagManager.ts
  src/content/static/index.ts
  src/content/types.ts
  src/content/utils.ts
  src/shared/messages.ts
Labels: area: content, area: background

#231 feat(background): monetization flow
  src/background/config.ts
  src/background/container.ts
  src/background/lib/messages.ts
  src/background/services/background.ts
  src/background/services/index.ts
  src/background/services/monetization.ts
  src/background/services/openPayments.ts
  src/background/services/paymentSession.ts
  src/background/services/storage.ts
  src/background/services/tabEvents.ts
  src/background/services/tabsEvents.ts
  src/background/utils.ts
  src/content/container.ts
  src/content/services/contentScript.ts
  src/manifest.json
  src/popup/lib/messages.ts
  src/shared/helpers.ts
  src/shared/messages.ts
Labels: area: content, area: background, area: popup

#235 feat(background): check WM state when receiving messages (temp)
  src/background/services/monetization.ts
Labels: area: background

#240 feat(background): recurring interval
  src/background/utils.ts
Labels: area: background
