Repository interledger/web-monetization-extension, pull requests merged in 2024-09, with the labels that each got.

#549 fix(background): use default icon on non-http/https tabs
  src/background/services/background.ts
  src/background/services/tabEvents.ts
Labels: area: background

#547 fix(locales/en): update invalidReceivers error message
  src/_locales/en/messages.json
Labels: area: i18n

#574 fix(popup/Input): use correct lighter color for placeholder
  src/popup/components/ui/Input.tsx
Labels: area: popup

#587 refactor(popup): use reducer/dispatch consistently
  src/popup/lib/context.tsx
  src/popup/pages/ErrorKeyRevoked.tsx
  src/popup/pages/Home.tsx
Labels: area: popup

#589 refactor(background/tabEvents): remove `browser` import
  src/background/services/tabEvents.ts
Labels: area: background

#588 refactor(popup/ConnectWalletForm): reduce reliance on browser APIs
  src/popup/components/ConnectWalletForm.tsx
  src/popup/pages/Settings.tsx
Labels: area: popup

#594 test(e2e): support running in headless mode
  .github/workflows/nightly-build.yaml
  .github/workflows/tests-e2e.yml
  docs/TESTING.md
  package.json
  tests/e2e/.env.example
  tests/e2e/fixtures/helpers.ts
Labels: area: documentation, area: ci, area: tests

#600 fix(ci/test-e2e): don't cancel in-progress jobs
  .github/workflows/tests-e2e.yml
Labels: area: ci

#598 perf(background/tabEvents): memoize `setIcon` call
  src/background/services/tabEvents.ts
  src/background/services/tabState.ts
Labels: area: background

#538 refactor(content): simplify MonetizationLinkManager
  src/background/services/background.ts
  src/background/services/monetization.ts
  src/content/container.ts
  src/content/messages.ts
  src/content/services/contentScript.ts
  src/content/services/frameManager.ts
  src/content/services/monetizationLinkManager.ts
  src/content/services/monetizationTagManager.ts
  src/content/types.ts
  src/content/utils.ts
  src/shared/helpers.ts
  src/shared/messages.ts
Labels: area: content, area: background

#606 fix: inject polyfill earlier when `world: MAIN` is supported
  esbuild/plugins.ts
  src/background/services/background.ts
  src/content/polyfill.ts
  src/content/services/contentScript.ts
  src/manifest.json
Labels: area: content, area: background

#621 refactor: introduce `ErrorWithKey` (locales keys as error code)
  src/background/services/background.ts
  src/popup/lib/context.tsx
  src/shared/helpers.ts
  src/shared/messages.ts
Labels: area: background, area: popup

#608 feat: support split-view in Edge, tab-tiling in Vivaldi
  src/background/container.ts
  src/background/services/background.ts
  src/background/services/index.ts
  src/background/services/monetization.ts
  src/background/services/tabEvents.ts
  src/background/services/windowState.ts
  src/background/utils.ts
  src/content/services/contentScript.ts
  src/content/services/monetizationLinkManager.ts
  src/shared/helpers.ts
  src/shared/messages.ts
  src/shared/types.ts
Labels: area: content, area: background

#611 fix: update popup tab data along with icon
  src/background/constants.ts
  src/background/services/background.ts
  src/background/services/monetization.ts
  src/background/services/tabEvents.ts
  src/background/services/tabState.ts
  src/background/utils.ts
  src/popup/components/PayWebsiteForm.tsx
  src/popup/lib/context.tsx
  src/popup/pages/Home.tsx
  src/shared/messages.ts
  src/shared/types.ts
Labels: area: background, area: popup

#627 fix(bg/openPayments): handle tab close before accept
  src/background/services/openPayments.ts
Labels: area: background

#628 fix: store and send transient state to popup
  src/background/services/background.ts
  src/background/services/events.ts
  src/background/services/monetization.ts
  src/background/services/openPayments.ts
  src/background/services/storage.ts
  src/popup/components/ConnectWalletForm.tsx
  src/popup/lib/context.tsx
  src/popup/pages/Settings.tsx
  src/shared/messages.ts
  src/shared/types.ts
Labels: area: background, area: popup

#619 feat: use new UX flow for connecting wallet
  src/_locales/en/messages.json
  src/background/services/openPayments.ts
  src/background/services/storage.ts
  src/popup/components/ConnectWalletForm.tsx
  src/popup/components/ErrorMessage.tsx
  src/popup/components/LoadingSpinner.tsx
  src/popup/components/ui/Input.tsx
  src/popup/pages/Settings.tsx
  src/shared/helpers.ts
  src/shared/messages.ts
  src/shared/types.ts
  tests/e2e/auth.setup.ts
  tests/e2e/basic.spec.ts
  tests/e2e/pages/popup.ts
Labels: area: background, area: popup, area: tests, area: i18n

#629 chore(deps): update dependencies
  package.json
  pnpm-lock.yaml
Labels: dependencies

#631 refactor(bg/openPayments): use `Promise.withResolvers`
  src/background/services/openPayments.ts
  src/shared/helpers.test.ts
  src/shared/helpers.ts
Labels: area: background, area: tests

#633 chore(scripts/dev): reload page on content script change
  esbuild/dev.ts
Labels: area: scripts
