Repository interledger/web-monetization-extension, pull requests merged in 2024-10, with the labels that each got.

#635 fix(content): ignore non-monetization links when `<link>` removed
  src/content/services/monetizationLinkManager.ts
Labels: area: content

#630 feat: auto-add key to wallet, support for test wallet
  README.md
  cspell-dictionary.txt
  esbuild/config.ts
  esbuild/dev.ts
  src/_locales/en/messages.json
  src/background/services/background.ts
  src/background/services/keyAutoAdd.ts
  src/background/services/openPayments.ts
  src/content/keyAutoAdd/lib/helpers.ts
  src/content/keyAutoAdd/lib/keyAutoAdd.ts
  src/content/keyAutoAdd/lib/types.ts
  src/content/keyAutoAdd/testWallet.ts
  src/manifest.json
  src/popup/components/ConnectWalletForm.tsx
  src/popup/pages/Settings.tsx
  src/shared/helpers.ts
  src/shared/messages.ts
  src/shared/types.ts
  tests/e2e/basic.spec.ts
  tests/e2e/connectAutoKeyTestWallet.spec.ts
  tests/e2e/helpers/common.ts
  tests/e2e/helpers/testWallet.ts
  tests/e2e/pages/popup.ts
Labels: area: documentation, area: content, area: background, area: popup, area: tests, area: i18n

#638 fix(ConnectWalletForm): preserve errors on popup reopen
  src/background/services/background.ts
  src/background/services/keyAutoAdd.ts
  src/background/services/openPayments.ts
  src/popup/components/ConnectWalletForm.tsx
  src/popup/pages/Settings.tsx
  src/shared/messages.ts
  src/shared/types.ts
Labels: area: background, area: popup

#640 fix(content/KeyAutoAdd): get output of any step, not just of previous
  src/content/keyAutoAdd/lib/keyAutoAdd.ts
  src/content/keyAutoAdd/lib/types.ts
  src/content/keyAutoAdd/testWallet.ts
Labels: area: content

#641 refactor(ConnectWalletForm): preserve key in errors
  src/popup/components/ConnectWalletForm.tsx
Labels: area: popup

#642 feat(ConnectWalletForm): let retry key auto-add on some errors
  src/background/services/background.ts
  src/background/services/keyAutoAdd.ts
  src/popup/components/ConnectWalletForm.tsx
  src/shared/helpers.ts
Labels: area: background, area: popup

#637 feat(ConnectWalletForm): ask consent for automatic key addition
  src/_locales/en/messages.json
  src/background/services/keyAutoAdd.ts
  src/background/services/openPayments.ts
  src/popup/components/ConnectWalletForm.tsx
  src/popup/pages/Settings.tsx
  src/shared/messages.ts
  tests/e2e/connectAutoKeyTestWallet.spec.ts
Labels: area: background, area: popup, area: tests, area: i18n

#647 test(e2e): use labels with i18n, don't hardcode
  tests/e2e/basic.spec.ts
  tests/e2e/connect.spec.ts
  tests/e2e/connectAutoKeyTestWallet.spec.ts
  tests/e2e/fixtures/connected.ts
  tests/e2e/helpers/testWallet.ts
  tests/e2e/pages/popup.ts
Labels: area: tests

#649 fix: use network requests for auto-add key to Fynbos
  src/content/keyAutoAdd/fynbos.ts
Labels: area: content

#650 refactor(content/keyAutoAdd): improve timeout handling
  src/content/keyAutoAdd/lib/helpers.ts
Labels: area: content

#651 refactor: extract some common helpers
  src/background/services/keyAutoAdd.ts
  src/shared/helpers.ts
  tests/e2e/connectAutoKeyTestWallet.spec.ts
  tests/e2e/helpers/common.ts
  tests/e2e/helpers/testWallet.ts
Labels: area: background, area: tests

#652 refactor(tests/e2e): rename environment variables
  .github/workflows/nightly-build.yaml
  .github/workflows/tests-e2e.yml
  docs/TESTING.md
  tests/e2e/.env.example
  tests/e2e/auth.setup.ts
  tests/e2e/connect.spec.ts
  tests/e2e/connectAutoKeyTestWallet.spec.ts
  tests/e2e/env.d.ts
  tests/e2e/fixtures/connected.ts
  tests/e2e/simple.spec.ts
Labels: area: documentation, area: ci, area: tests

#643 feat: automatically add public key for Fynbos wallets
  .github/workflows/nightly-build.yaml
  .github/workflows/tests-e2e.yml
  docs/TESTING.md
  esbuild/config.ts
  src/background/services/keyAutoAdd.ts
  src/content/keyAutoAdd/fynbos.ts
  src/manifest.json
  tests/e2e/.env.example
  tests/e2e/connectAutoKeyFynbos.spec.ts
  tests/e2e/env.d.ts
  tests/e2e/helpers/fynbos.ts
Labels: area: documentation, area: content, area: background, area: ci, area: tests

#669 fix(popup/ConnectWalletForm): fix paste after field is emptied
  src/popup/components/ConnectWalletForm.tsx
Labels: area: popup

#672 refactor(popup): extract InputAmount from ConnectWalletForm
  src/popup/components/ConnectWalletForm.tsx
  src/popup/components/InputAmount.tsx
  src/shared/helpers.ts
Labels: area: popup

#658 feat(popup/Home): new UI for home screen
  src/assets/images/bg-tile.svg
  src/popup/components/Icons.tsx
  src/popup/components/InputAmount.tsx
  src/popup/components/PayWebsiteForm.tsx
  src/popup/components/layout/MainLayout.tsx
  src/popup/index.css
  src/popup/pages/Home.tsx
  tailwind.config.ts
Labels: area: popup

#673 test(e2e/simple): update to reflect no slider on home-page
  tests/e2e/simple.spec.ts
Labels: area: tests

#657 feat(popup/Settings)!: split settings into tabbed interface
  package.json
  pnpm-lock.yaml
  src/popup/components/Settings/Budget.tsx
  src/popup/components/Settings/RateOfPay.tsx
  src/popup/components/Settings/WalletInformation.tsx
  src/popup/components/WalletInformation.tsx
  src/popup/components/layout/MainLayout.tsx
  src/popup/components/ui/Code.tsx
  src/popup/components/ui/Slider.tsx
  src/popup/components/ui/Switch.tsx
  src/popup/lib/hooks.ts
  src/popup/pages/Settings.tsx
Labels: area: popup

#671 fix: use new test wallet URL; update keyAutoAdd, tests, popup
  src/background/services/keyAutoAdd.ts
  src/content/keyAutoAdd/testWallet.ts
  src/manifest.json
  src/popup/components/ConnectWalletForm.tsx
  tests/e2e/.env.example
  tests/e2e/connect.spec.ts
  tests/e2e/connectAutoKeyTestWallet.spec.ts
  tests/e2e/helpers/testWallet.ts
Labels: area: content, area: background, area: popup, area: tests

#682 fix(popup/ConnectWalletForm): make it centered in popup
  src/popup/components/ConnectWalletForm.tsx
Labels: area: popup

#681 fix(popup/Home): unlink from "click on settings"
  src/popup/pages/Home.tsx
Labels: area: popup

#685 fix(popup/InputAmount): validate amount on input, not just blur
  src/popup/components/InputAmount.tsx
  src/shared/helpers.ts
Labels: area: popup

#686 fix(popup): make disabled inputs make look more disabled
  src/pages/progress-connect/index.css
  src/popup/components/ui/Code.tsx
  src/popup/components/ui/Input.tsx
  src/popup/index.css
Labels: area: popup

#684 fix(popup/InputAmount): don't be overly restrictive in keys allowed
  src/popup/components/InputAmount.tsx
Labels: area: popup

#675 feat: support modifying budget
  src/background/services/background.ts
  src/background/services/openPayments.ts
  src/popup/components/Settings/Budget.tsx
  src/shared/messages.ts
Labels: area: background, area: popup

#688 fix(ci/bump-manifest-version): format manifest.json after update
  .github/workflows/bump-manifest-version.yml
Labels: area: ci

#691 chore: add user-docs labeler
  .github/workflows/add_to_docs_board.yml
Labels: area: ci
