Repository interledger/web-monetization-extension, pull requests merged in 2024-07, with the labels that each got.

#379 feat!: store both recurring/one-time grants & spents; add `state`
  cspell-dictionary.txt
  src/background/services/background.ts
  src/background/services/events.ts
  src/background/services/monetization.ts
  src/background/services/openPayments.ts
  src/background/services/storage.ts
  src/background/utils.ts
  src/popup/components/ProtectedRoute.tsx
  src/popup/components/WalletInformation.tsx
  src/popup/lib/utils.ts
  src/shared/types.ts
Labels: area: background, area: popup

#386 feat(background): store spent amount on payment to retrieve balance
  src/background/services/openPayments.ts
  src/background/services/storage.ts
  src/shared/helpers.ts
Labels: area: background

#388 feat: pass messages to popup, update popup balance in realtime
  cspell-dictionary.txt
  src/background/container.ts
  src/background/services/background.ts
  src/background/services/events.ts
  src/background/services/index.ts
  src/background/services/sendToPopup.ts
  src/background/services/storage.ts
  src/popup/components/WalletInformation.tsx
  src/popup/lib/context.tsx
  src/popup/pages/Home.tsx
  src/shared/messages.ts
Labels: area: background, area: popup

#391 fix(popup)!: remove remaining balance from WalletInformation
  src/popup/components/WalletInformation.tsx
Labels: area: popup

#393 fix(background/storage): allow extension be in multiple states
  src/background/services/storage.ts
  src/popup/components/ProtectedRoute.tsx
  src/shared/helpers.test.ts
  src/shared/helpers.ts
  src/shared/types.ts
Labels: area: background, area: popup, area: tests

#395 refactor: add `t`, `useTranslation` helpers to use translations
  .eslintrc.json
  cspell.json
  src/background/container.ts
  src/background/services/tabEvents.ts
  src/popup/Popup.tsx
  src/popup/components/SiteNotMonetized.tsx
  src/popup/lib/context.tsx
  src/popup/pages/MissingHostPermission.tsx
  src/shared/helpers.ts
Labels: area: background, area: popup

#399 docs(README): update project structure section
  README.md
Labels: area: documentation

#396 fix(background): better error message for `connectWallet`
  src/_locales/en/messages.json
  src/background/services/openPayments.ts
  tsconfig.json
Labels: area: background

#400 refactor(popup): add `useBrowser` hook; avoid importing everywhere
  src/popup/Popup.tsx
  src/popup/components/layout/header.tsx
  src/popup/lib/context.tsx
  src/popup/pages/MissingHostPermission.tsx
Labels: area: popup

#398 docs(README): mention nvm windows
  README.md
Labels: area: documentation

#412 fix(content): reduce amount of `IS_TAB_MONETIZED` messages/events
  src/content/services/frameManager.ts
  src/content/services/monetizationTagManager.ts
Labels: area: content

#415 fix(background): increase request timeout for the OP SDK
  src/background/services/openPayments.ts
Labels: area: background

#423 feat(background): resend last monetization event on reload when overpaying
  src/background/services/paymentSession.ts
  src/background/services/tabState.ts
  src/content/polyfill.ts
  src/content/services/monetizationTagManager.ts
  src/shared/messages.ts
Labels: area: content, area: background

#421 feat(popup): allow short form for wallet addresses in popup
  src/popup/components/ConnectWalletForm.tsx
  src/popup/lib/utils.test.ts
  src/popup/lib/utils.ts
Labels: area: popup, area: tests

#366 fix(background): handle key removed from wallet
  src/_locales/en/messages.json
  src/background/services/background.ts
  src/background/services/events.ts
  src/background/services/monetization.ts
  src/background/services/openPayments.ts
  src/background/services/paymentSession.ts
  src/background/utils.ts
  src/popup/Popup.tsx
  src/popup/components/ErrorKeyRevoked.tsx
  src/popup/components/ProtectedRoute.tsx
  src/popup/components/ui/Button.tsx
  src/popup/lib/context.tsx
  src/popup/lib/messages.ts
  src/popup/pages/ErrorKeyRevoked.tsx
  src/shared/helpers.test.ts
  src/shared/helpers.ts
  src/shared/messages.ts
  src/shared/types.ts
Labels: area: background, area: popup, area: tests

#427 refactor(locales): update keys to be more consistent
  .github/labeler.yml
  src/_locales/en/messages.json
  src/background/services/openPayments.ts
  src/background/services/tabEvents.ts
  src/popup/components/SiteNotMonetized.tsx
  src/popup/pages/MissingHostPermission.tsx
Labels: area: background, area: popup, area: ci, aria: i18n

#429 refactor(background): move OP error detection to openPayments
  src/background/services/openPayments.ts
  src/background/services/paymentSession.ts
Labels: area: background

#428 fix(background/paymentSession): handle Invalid Token error
  src/background/services/openPayments.ts
  src/background/services/paymentSession.ts
Labels: area: background

#432 feat(shared/helpers): add `getNextOccurrence` of ISO R/interval
  package.json
  pnpm-lock.yaml
  src/shared/helpers.test.ts
  src/shared/helpers.ts
  src/shared/types.ts
Labels: area: tests

#433 fix(popup): remove stray import of `connected` from `node:process`
  src/popup/components/ConnectWalletForm.tsx
Labels: area: popup

#434 fix(background): detect out-of-funds on Pay now button
  src/_locales/en/messages.json
  src/background/services/monetization.ts
  src/background/services/openPayments.ts
  src/background/services/paymentSession.ts
Labels: area: background, area: i18n

#426 feat: allow adding funds when out of funds; add `switchGrant`
  src/background/services/background.ts
  src/background/services/events.ts
  src/background/services/monetization.ts
  src/background/services/openPayments.ts
  src/background/services/paymentSession.ts
  src/background/services/storage.ts
  src/manifest.json
  src/popup/Popup.tsx
  src/popup/components/OutOfFunds.tsx
  src/popup/components/ProtectedRoute.tsx
  src/popup/lib/context.tsx
  src/popup/lib/messages.ts
  src/popup/pages/OutOfFunds.tsx
  src/shared/messages.ts
  src/shared/types.ts
Labels: area: background, area: popup

#368 feat: use new icons and alert behavior
  src/_locales/en/messages.json
  src/assets/icons/128x128/default-gray.png
  src/assets/icons/128x128/default.png
  src/assets/icons/128x128/disabled-has-links.png
  src/assets/icons/128x128/disabled-no-links.png
  src/assets/icons/128x128/disabled-warn.png
  src/assets/icons/128x128/enabled-has-links.png
  src/assets/icons/128x128/enabled-no-links.png
  src/assets/icons/128x128/enabled-warn.png
  src/assets/icons/32x32/default-gray.png
  src/assets/icons/32x32/default.png
  src/assets/icons/32x32/disabled-has-links.png
  src/assets/icons/32x32/disabled-no-links.png
  src/assets/icons/32x32/disabled-warn.png
  src/assets/icons/32x32/enabled-has-links.png
  src/assets/icons/32x32/enabled-no-links.png
  src/assets/icons/32x32/enabled-warn.png
  src/assets/icons/48x48/default-gray.png
  src/assets/icons/48x48/default.png
  src/assets/icons/48x48/disabled-has-links.png
  src/assets/icons/48x48/disabled-no-links.png
  src/assets/icons/48x48/disabled-warn.png
  src/assets/icons/48x48/enabled-has-links.png
  src/assets/icons/48x48/enabled-no-links.png
  src/assets/icons/48x48/enabled-warn.png
  src/assets/icons/icon-128.png
  src/assets/icons/icon-34.png
  src/assets/icons/icon-active-128.png
  src/assets/icons/icon-active-34.png
  src/assets/icons/icon-inactive-128.png
  src/assets/icons/icon-inactive-34.png
  src/assets/icons/icon-warning-128.png
  src/assets/icons/icon-warning-34.png
  src/assets/icons/svg/default-gray.svg
  src/assets/icons/svg/default.svg
  src/assets/icons/svg/disabled-has-links.svg
  src/assets/icons/svg/disabled-no-links.svg
  src/assets/icons/svg/disabled-warn.svg
  src/assets/icons/svg/enabled-has-links.svg
  src/assets/icons/svg/enabled-no-links.svg
  src/assets/icons/svg/enabled-warn.svg
  src/background/services/background.ts
  src/background/services/tabEvents.ts
  src/manifest.json
Labels: area: background, area: i18n

#437 fix(background/TabState): use `tabId` as `tab` isn't a live reference to tab
  src/background/services/monetization.ts
  src/background/services/paymentSession.ts
  src/background/services/tabState.ts
  src/background/utils.ts
Labels: area: background

#439 feat(popup): add ouf of funds and add funds screens
  src/_locales/en/messages.json
  src/popup/Popup.tsx
  src/popup/components/OutOfFunds.tsx
  src/popup/components/layout/header.tsx
  src/popup/pages/OutOfFunds.tsx
  src/popup/pages/OutOfFunds_AddFunds.tsx
Labels: area: popup, area: i18n

#420 fix(background): update icon change logic; using TabState for `sessions`
  src/background/services/monetization.ts
  src/background/services/sendToPopup.ts
  src/background/services/tabEvents.ts
  src/background/services/tabState.ts
  src/popup/lib/context.tsx
  src/shared/messages.ts
  src/shared/types.ts
Labels: area: background, area: popup

#451 feat: cross currency refinements
  cspell-dictionary.txt
  src/background/services/monetization.ts
  src/background/services/openPayments.ts
  src/background/services/paymentSession.ts
  src/background/utils.test.ts
  src/background/utils.ts
  src/content/services/monetizationTagManager.ts
  src/shared/helpers.ts
Labels: area: content, area: background, area: tests

#448 fix(background): select current active window
  src/background/utils.ts
Labels: area: background

#447 feat: redirect user to welcome screen instead of closing the tab
  src/background/services/openPayments.ts
  src/shared/defines.ts
  webpack/dev.ts
  webpack/prod.ts
Labels: area: background

#453 fix: handle disabled link tags, abort `adjustAmount` on change
  src/background/services/monetization.ts
  src/background/services/paymentSession.ts
  src/background/services/tabEvents.ts
  src/background/services/tabState.ts
  src/background/utils.ts
  src/content/services/frameManager.ts
  src/content/services/monetizationTagManager.ts
  src/popup/pages/Home.tsx
  src/shared/messages.ts
Labels: area: content, area: background, area: popup

#462 fix(background): don't clear overpaying on page refresh
  src/background/services/background.ts
  src/background/services/monetization.ts
  src/background/services/tabEvents.ts
  src/background/services/tabState.ts
Labels: area: background

#435 refactor(background/PaymentSession): extract `payContinuous`
  src/background/services/paymentSession.ts
Labels: area: background

#463 fix(popup): Remove unused fonts
  src/popup/components/layout/Header.tsx
  src/popup/components/layout/MainLayout.tsx
  src/popup/index.html
Labels: area: popup

#464 refactor: use events service for updating indicator
  src/background/services/background.ts
  src/background/services/events.ts
  src/background/services/monetization.ts
  src/background/services/tabEvents.ts
  src/content/lib/messages.ts
  src/content/messages.ts
  src/content/services/frameManager.ts
  src/content/services/monetizationTagManager.ts
  src/shared/messages.ts
Labels: area: content, area: background
