Repository interledger/web-monetization-extension, pull requests merged in 2025-01, with the labels that each got.

#812 refactor(tests/e2e): add `toHaveStorage` custom matcher & utils
  src/shared/types.ts
  tests/e2e/basic.spec.ts
  tests/e2e/connect.spec.ts
  tests/e2e/connectAutoKeyChimoney.spec.ts
  tests/e2e/connectAutoKeyFynbos.spec.ts
  tests/e2e/connectAutoKeyTestWallet.spec.ts
  tests/e2e/fixtures/base.ts
  tests/e2e/fixtures/connected.ts
  tests/e2e/fixtures/helpers.ts
Labels: area: tests, area: shared

#807 fix: close popup when tab navigates during connect
  src/background/services/background.ts
  src/background/services/events.ts
  src/background/services/openPayments.ts
  src/background/services/sendToPopup.ts
  src/pages/popup/lib/context.tsx
  src/shared/messages.ts
  tests/e2e/pages/popup.ts
Labels: area: background, area: popup, area: tests, area: pages, area: shared

#811 perf(background): remove `@interledger/openapi` from bundle
  esbuild/plugins.ts
Labels: area: scripts

#775 refactor(background): split up `OpenPaymentsService`
  jest.setup.ts
  src/background/container.ts
  src/background/services/background.ts
  src/background/services/events.ts
  src/background/services/index.ts
  src/background/services/monetization.ts
  src/background/services/openPayments.ts
  src/background/services/outgoingPaymentGrant.ts
  src/background/services/paymentSession.ts
  src/background/services/wallet.ts
  src/background/utils.ts
Labels: area: background

#816 test(e2e): test monetization event, add custom spy matchers
  package.json
  pnpm-lock.yaml
  tests/e2e/fixtures/base.ts
  tests/e2e/simple.spec.ts
Labels: area: tests

#815 test(e2e): add test for disabled continuous payments
  .editorconfig
  src/pages/popup/components/Settings/RateOfPay.tsx
  src/pages/shared/components/ui/Switch.tsx
  tests/e2e/pages/popup.ts
  tests/e2e/simple.spec.ts
Labels: area: popup, area: tests, area: pages

#820 fix(background): close popup on right time
  src/background/services/background.ts
  src/background/services/events.ts
  src/background/services/outgoingPaymentGrant.ts
  src/background/services/wallet.ts
Labels: area: background

#823 style: enable `noUnusedTemplateLiteral` lint rule
  biome.jsonc
  esbuild/prod.ts
  src/background/services/background.ts
  src/background/services/monetization.ts
  src/content/keyAutoAdd/chimoney.ts
  src/content/keyAutoAdd/lib/helpers.ts
  src/content/polyfill.ts
  src/pages/shared/components/ui/RadioGroup.tsx
  tests/e2e/connectAutoKeyChimoney.spec.ts
  tests/e2e/fixtures/helpers.ts
  tests/e2e/helpers/common.ts
  tests/e2e/helpers/fynbos.ts
  tests/e2e/helpers/testWallet.ts
Labels: area: content, area: background, area: tests, area: scripts, area: pages

#830 test(e2e): test reconnect wallet with automatic key addition
  .github/workflows/tests-e2e.yml
  tests/e2e/helpers/common.ts
  tests/e2e/reconnectAutoKeyTestWallet.spec.ts
Labels: area: ci, area: tests

#831 fix(bg/tabEvents): don't clear sessions on iframe navigation
  biome.jsonc
  src/background/services/tabEvents.ts
  src/pages/popup/components/NotMonetized.tsx
  tests/e2e/special.spec.ts
Labels: area: background, area: popup, area: tests, area: pages

#836 refactor(tests/e2e): add `setupPlayground` helper
  tests/e2e/helpers/common.ts
  tests/e2e/reconnectAutoKeyTestWallet.spec.ts
  tests/e2e/simple.spec.ts
  tests/e2e/special.spec.ts
Labels: area: tests

#837 fix(ConnectWalletForm): correctly render error from transientState
  src/pages/popup/components/ConnectWalletForm.tsx
Labels: area: popup, area: pages

#840 refactor(tests/e2e): simplify spy `toHaveBeenCalled` matchers
  tests/e2e/fixtures/base.ts
  tests/e2e/reconnectAutoKeyTestWallet.spec.ts
Labels: area: tests

#843 refactor(tests/e2e): add type for `MonetizationEvent`
  tests/e2e/env.d.ts
  tests/e2e/helpers/common.ts
Labels: area: tests

#835 test(e2e): test global extension toggle
  biome.jsonc
  tests/e2e/fixtures/base.ts
  tests/e2e/reconnectAutoKeyTestWallet.spec.ts
  tests/e2e/simple.spec.ts
Labels: area: tests

#849 fix(bg/keyAutoAdd): activate only on tab opened for key addition
  src/background/services/keyAutoAdd.ts
Labels: area: background

#851 fix(background): clear sessions on page reload
  src/background/services/tabEvents.ts
  tests/e2e/fixtures/base.ts
  tests/e2e/helpers/common.ts
  tests/e2e/overpaying.spec.ts
  tests/e2e/pages/popup.ts
  tests/e2e/special.spec.ts
Labels: area: background, area: tests

#858 fix(bg/PaymentSession): don't wait for previous payment
  src/background/services/paymentSession.ts
  tsconfig.json
Labels: area: background

#860 test(e2e): add tests for various not-monetized scenarios
  tests/e2e/not-monetized.spec.ts
Labels: area: tests

#861 test(e2e): make timeouts shorter, install browsers
  .github/workflows/nightly-build.yaml
  .github/workflows/tests-e2e.yml
  playwright.config.ts
  tests/e2e/fixtures/base.ts
  tests/e2e/fixtures/connected.ts
  tests/e2e/fixtures/helpers.ts
  tests/e2e/pages/popup.ts
Labels: area: ci, area: tests

#878 fix(keyAutoAdd/cards): normalize `ilp.dev` wallet addresses
  src/content/keyAutoAdd/testWallet.ts
Labels: area: content

#880 test(e2e/connectAutoKeyChimoney): can finish connecting now
  tests/e2e/connectAutoKeyChimoney.spec.ts
Labels: area: tests

#872 refactor(PostInstall): use `ConnectWalletForm` in the last step
  src/_locales/en/messages.json
  src/background/container.ts
  src/background/services/background.ts
  src/background/services/index.ts
  src/background/services/sendToPort.ts
  src/pages/app/App.tsx
  src/pages/app/lib/context.tsx
  src/pages/app/lib/store.ts
  src/pages/app/pages/PostInstall.tsx
  src/pages/popup/Popup.tsx
  src/pages/popup/lib/context.tsx
  src/pages/popup/lib/store.ts
  src/pages/popup/pages/ConnectWallet.tsx
  src/shared/messages.ts
  src/shared/types.ts
Labels: area: background, area: popup, area: i18n, area: pages/app, area: pages, area: shared

#879 test(e2e): avoid sharing browser instance across workers
  playwright.config.ts
  tests/e2e/connect.spec.ts
  tests/e2e/fixtures/base.ts
  tests/e2e/fixtures/connected.ts
  tests/e2e/not-monetized.spec.ts
  tests/e2e/overpaying.spec.ts
  tests/e2e/simple.spec.ts
Labels: area: tests

#883 fix(Settings/Budget): don't show renew message with one-time budget
  src/pages/popup/components/Settings/Budget.tsx
Labels: area: popup, area: pages

#884 fix: fix regressions caused by `forEach` to `for..of` migration
  src/background/services/monetization.ts
  src/content/services/frameManager.ts
  src/content/services/monetizationLinkManager.ts
Labels: area: content, area: background

#882 fix(monetizationLinkManager): detect links on parent node add/remove
  src/content/services/monetizationLinkManager.ts
Labels: area: content
