Repository interledger/web-monetization-extension, pull requests merged in 2025-02, with the labels that each got.

#886 fix(popup): remove amount from OTP msg
  src/_locales/en/messages.json
  src/background/services/monetization.ts
  src/pages/popup/components/PayWebsiteForm.tsx
  src/shared/messages.ts
Labels: area: background, area: popup, area: i18n, area: pages, area: shared

#888 fix(ci/release-stable): use `--channel=stable`
  .github/workflows/release-stable.yml
  scripts/build.ts
Labels: area: ci, area: scripts

#885 test(e2e): add tests for editing budget
  src/background/services/wallet.ts
  src/pages/popup/components/Settings/Budget.tsx
  src/pages/shared/components/ui/Button.tsx
  tests/e2e/connect.spec.ts
  tests/e2e/fixtures/connected.ts
  tests/e2e/helpers/common.ts
  tests/e2e/helpers/testWallet.ts
  tests/e2e/pages/popup.ts
  tests/e2e/walletBudget.spec.ts
Labels: area: background, area: popup, area: tests, area: pages

#894 refactor(tests/e2e): rename `persistentContext` to `context`
  tests/e2e/connect.spec.ts
  tests/e2e/connectAutoKeyChimoney.spec.ts
  tests/e2e/connectAutoKeyFynbos.spec.ts
  tests/e2e/connectAutoKeyTestWallet.spec.ts
  tests/e2e/fixtures/base.ts
  tests/e2e/fixtures/connected.ts
  tests/e2e/not-monetized.spec.ts
  tests/e2e/overpaying.spec.ts
  tests/e2e/reconnectAutoKeyTestWallet.spec.ts
  tests/e2e/walletBudget.spec.ts
Labels: area: tests

#901 docs(README): add badges for releases in stores, nightly builds
  README.md
Labels: area: documentation

#895 test(e2e): add tests for one-time payment
  src/pages/popup/components/PayWebsiteForm.tsx
  tests/e2e/fixtures/base.ts
  tests/e2e/fixtures/connected.ts
  tests/e2e/pages/popup.ts
  tests/e2e/simple.spec.ts
Labels: area: popup, area: tests, area: pages

#893 fix: correctly handle reload, iframe nav and hashchange
  src/background/services/tabEvents.ts
  src/background/services/tabState.ts
  src/content/services/monetizationLinkManager.ts
  tests/e2e/helpers/common.ts
  tests/e2e/overpaying.spec.ts
  tests/e2e/special.spec.ts
Labels: area: content, area: background, area: tests

#904 test(e2e): add tests for out of funds & add funds
  src/background/services/wallet.ts
  src/pages/popup/components/OutOfFunds.tsx
  src/pages/shared/components/ui/Input.tsx
  tests/e2e/fixtures/helpers.ts
  tests/e2e/out-of-funds.spec.ts
  tests/e2e/pages/popup.ts
Labels: area: background, area: popup, area: tests, area: pages

#910 fix(bg/PaymentSession): ensure probing completed before start
  src/background/services/paymentSession.ts
  tests/e2e/simple.spec.ts
Labels: area: background, area: tests

#919 fix(bg/wallet): correctly convert currency for rateOfPay
  jest.config.ts
  package.json
  pnpm-lock.yaml
  src/background/services/wallet.ts
  src/background/utils.test.ts
  src/background/utils.ts
Labels: area: background, area: tests

#923 chore(tests/e2e): make `env.d.ts` source of truth for env vars
  .github/workflows/nightly-build.yaml
  .github/workflows/tests-e2e.yml
  docs/TESTING.md
  tests/e2e/.env.example
  tests/e2e/auth.setup.ts
  tests/e2e/env.d.ts
  tests/e2e/helpers/testWallet.ts
Labels: area: documentation, area: ci, area: tests

#914 test(e2e): add tests for multiple link tags - same/cross currency
  .github/workflows/nightly-build.yaml
  .github/workflows/tests-e2e.yml
  tests/e2e/.env.example
  tests/e2e/env.d.ts
  tests/e2e/helpers/common.ts
  tests/e2e/multiple.spec.ts
  tests/e2e/pages/popup.ts
Labels: area: ci, area: tests

#926 test(e2e): add test for back-forward navigation (bf-cache)
  tests/e2e/fixtures/helpers.ts
  tests/e2e/special.spec.ts
Labels: area: tests

#927 fix: treat resume as start if sessions lost, trigger resume if needed
  src/background/services/background.ts
  src/background/services/monetization.ts
  src/content/services/contentScript.ts
  src/content/services/frameManager.ts
  src/content/services/monetizationLinkManager.ts
  src/shared/messages.ts
  tests/e2e/special.spec.ts
Labels: area: content, area: background, area: tests, area: shared

#940 fix(ConnectWalletForm): handle Enter key on wallet address field
  src/pages/popup/components/ConnectWalletForm.tsx
Labels: area: popup, area: pages

#934 fix(keyAutoAdd): show each step in overlay for minimum 2s
  src/content/keyAutoAdd/lib/keyAutoAdd.ts
  src/shared/helpers.ts
Labels: area: content, area: shared

#935 fix(PostInstall): add supported wallets, add context to steps
  src/_locales/en/messages.json
  src/assets/images/logos/chimoney-logo.svg
  src/assets/images/logos/gatehub-logo.svg
  src/assets/images/logos/interledger-app-logo.svg
  src/assets/images/wallet-address-chimoney.png
  src/assets/images/wallet-address-gatehub.png
  src/assets/images/wallet-address-interledger.png
  src/assets/images/wallet-wallet-address.png
  src/pages/app/pages/PostInstall.tsx
  src/pages/popup/components/ConnectWalletForm.tsx
Labels: area: popup, area: i18n, area: pages/app, area: pages

#942 refactor: use separate message to clear connect state
  src/background/services/background.ts
  src/background/services/wallet.ts
  src/pages/app/pages/PostInstall.tsx
  src/pages/popup/pages/ConnectWallet.tsx
  src/shared/messages.ts
Labels: area: background, area: popup, area: pages/app, area: pages, area: shared

#929 test(MonetizationLinkManager): add unit tests for link detection
  jest.setup.ts
  package.json
  pnpm-lock.yaml
  src/content/__tests__/monetizationLinkManager.test.ts
  src/content/container.ts
  src/content/services/monetizationLinkManager.ts
Labels: area: content, area: tests

#943 fix(keyAutoAdd): abort if user navigates to some other website
  src/_locales/en/messages.json
  src/background/services/background.ts
  src/background/services/keyAutoAdd.ts
  src/background/services/wallet.ts
  src/pages/popup/components/ConnectWalletForm.tsx
Labels: area: background, area: popup, area: i18n, area: pages

#947 refactor(bg): split create & complete outgoing payment grant
  src/background/services/outgoingPaymentGrant.ts
  src/background/services/wallet.ts
Labels: area: background

#946 refactor(background): better reuse tab helper; always reuse tabs
  src/background/constants.ts
  src/background/services/keyAutoAdd.ts
  src/background/services/outgoingPaymentGrant.ts
  src/background/services/wallet.ts
  src/background/utils.ts
  tests/e2e/connectAutoKeyChimoney.spec.ts
  tests/e2e/connectAutoKeyFynbos.spec.ts
  tests/e2e/connectAutoKeyTestWallet.spec.ts
  tests/e2e/helpers/common.ts
  tests/e2e/helpers/testWallet.ts
  tests/e2e/out-of-funds.spec.ts
  tests/e2e/reconnectAutoKeyTestWallet.spec.ts
  tests/e2e/walletBudget.spec.ts
Labels: area: background, area: tests

#945 fix(connectWallet): highlight tab on popup open
  src/background/services/wallet.ts
  src/background/utils.ts
Labels: area: background
